h1 {
    color: black;
    font-family: Copperplate;
    text-align: center;
}
legend {
    text-align: center;
}
fieldset {
    width: 20%;
    margin: auto;
    padding: 20px;
}
.class {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
    Geneva, Verdana, sans-serif;
}
label {
    font-size: 11px;
}
